.caption {
  font-weight: 400;
  text-wrap: auto;

  &._font-weight-medium {
    font-weight: 500;
  }

  &._size-large {
    font-size: 14px;
    line-height: 18px;
  }

  &._size-medium {
    font-size: 12px;
    line-height: 16px;
  }

  &._size-small {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
